.title{
  font-size: 350%;
}

.picture{
  height: 250px;
}

.button{
  display: flex;
  flex-direction: column;
  width: 120px;
  margin: 5px;
}

.allPage{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.iconAndSignIn{
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 991px) {
  .iconAndSignIn{
    flex-direction: row;
    align-items: center;
  }
}
