.profilPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ImageAndName__profilImage{
  width: 15%;
  border-radius: 100%;
}

.profilPage__ImageAndName{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

.profilPage__ImageAndName h1{
  margin-left: 10px;
}

.profilPage p{
  width: 80%;
  margin: 15px auto;
  text-align: center;
}

.profilPage__badgesAndProfil{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}


.profilPage__QRCodeDiv{
  background-color: gainsboro;
  padding: 10px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.QRCodeDiv__QRCodeButton{
  background-color: #f3e049;
  padding: 10px;
  width: 200px;
  margin: 20px auto;
}

.QRCodeDiv__QRCodeImage{
  margin-top: 20px;
  width: 50%;
}

.QRCodeDiv__fusee{
  display: none;
}

.QRCodeDiv__smiley{
  display: none;
}



.badgesAndProfil__profilButton, .smiley__profilButton{
  background-color: #f3e049;
  padding: 4px;
  width: 150px;
}

.badgesAndProfil__badgesButton, .fusee_badgesButton{
  background-color: #f3e049;
  padding: 4px;
  width: 150px;
}

.cameraOff{
  display: none !important;
}

.cameraOn{
  display: block;
  height: auto ;
  width: 100%;
}

.cameraOn p {
  text-align: center;
}

.QRCodeDiv__QRCodeImgOn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.QRCodeDiv__QRCodeImgOff{
  display : none;
}

.QRCodeDiv__QRCodeButton2{
  display: block;
  background-color: #f3e049;
  padding: 10px;
  width: 200px;
  margin: 0 auto;
}

@media screen and (min-width: 991px){
  .profilPage__QRCodeDiv{
    flex-direction: row;
    height: 200px;
    display: flex;
  }

  .cameraOff{
    display: none !important;
  }

  .profilPage__badgesAndProfil{
    display: none;
  }

  .QRCodeDiv__QRCodeButton{
    display: none;
  }
  
  .QRCodeDiv__QRCodeImage{
    display: none;
  }

  .profilPage__ImageAndName{
    margin-top: 2%;
    justify-content: flex-start;
  }

  .ImageAndName__profilImage{
    width: 10%;
    border-radius: 100%;
  }

  .QRCodeDiv__fusee{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fusee__fuseeImage{
    width: 30%;
  }

  .fusee__badgesButton{
    background-color: #f3e049;
    padding: 4px;
    width: 150px;
    margin-top: 20px;
  }

  .QRCodeDiv__smiley{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .smiley__smileyImage{
    width: 30%;
  }

  .smiley__profilButton{
    background-color: #f3e049;
    padding: 4px;
    width: 150px;
    margin-top: 20px;
  }

}


.profilPage__signOut{
  padding: 10px;
  background-color: #f3e049;
  width: 30%;
  margin: 20px auto;
}